:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@layer components {
  .navbar-link {
    font-weight: 600;
    transition: all;
    text-decoration: none;

    &.current {
      border-bottom: 2px solid violet;
    }
  }

  .navbar-link:hover {
    color: cadetblue;
  }
}

table {
  width: 100%;
}

th {
  font-size: large;
  text-align: left;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  padding: 10px 5px;
}

td {
  padding: 5px;
}

span {
  color: red;
}

label {
  display: flex;
  flex-direction: column;
  font-size: large;
}

input,
select,
textarea {
  width: 400px;
  height: 25px;
  /* padding: 5px 10px; */
}
